@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

.homeContainer {
  font-family: "Source Sans 3", sans-serif;
  button {
    width: 100%;
    font-family: "DM Serif Text", serif;
    font-size: 16px;
    border: 1px solid var(--accent-bg-color);
    background-color: var(--accent-bg-color);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    color: var(--accent-text-color);
  }

  button:hover {
    background-color: var(--accent-text-color);
    border: 1px solid var(--accent-text-color);
    color: var(--accent-bg-color);
  }

  .popupOverlay {
    z-index: 1;
    position: fixed;
    left: 25%;
    top: 5%;
    width: 50vw;
    border: 2px solid white;
    border-radius: 1em;
    background-color: var(--primary-bg-color);
    padding: 10px;

    @media (min-width: 300px) and (max-width: 829px) {
      left: 0;
      right: 0;
      top: 0;
      width: auto;
      height: auto;
      margin: 20px;
    }
  }

  .sidebar {
    background-color: var(--secondary-bg-color);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20%;
    padding: 0 10px;
    color: var(--primary-text-color);

    @media (min-width: 300px) and (max-width: 829px) {
      display: flex;
      flex-direction: column;
      position: relative;
      width: calc(100% - 20px);
      height: auto;
      border-bottom: 1px solid var(--secondary-bg-color);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      padding: 10px;
    }

    .subtitle {
      font-family: "DM Serif Text", serif;
      font-size: 16px;
    }

    h1 {
      font-family: "DM Serif Text", serif;
    }
  }

  .projectContainer {
    background-color: white;
    color: var(--primary-text-color);
    position: absolute;
    overflow: scroll;
    top: 0;
    right: 0;
    height: 100vh;
    width: calc(80% - 20px);
    text-align: center;

    @media (min-width: 300px) and (max-width: 829px) {
      overflow: none;
      display: flex;
      flex-direction: column;
      position: relative;
      width: calc(100% - 20px);
      height: auto;
      padding: 10px;
    }

    .projectGrid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    .project {
      border: 1px solid white;
      border-radius: 5px;
      margin: 10px;
      max-width: 317px;

      .fullscreenBtn {
        background-color: var(--primary-bg-color);
        border: var(--primary-bg-color);
        width: auto;
        cursor: pointer;
        margin: 0;
        padding: 0;
      }

      img:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }

    .projectInfo {
      background-color: var(--primary-bg-color);
      padding: 10px;
      border-bottom: 1px solid var(--primary-bg-color);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      .projectHeader {
        display: flex;
        justify-content: space-between;
        font-family: "DM Serif Text", serif;
        font-size: 16px;
      }

      .projectDescription {
        min-height: 150px;
      }
    }
  }
}
