.popup {
  .closeBtn {
    background-color: var(--primary-bg-color);
    border: 0;
    width: auto;
  }

  .closeBtn:hover {
    background-color: var(--primary-bg-color);
    border: 0;
  }

  .header {
    display: flex;
    justify-content: space-between;
    font-family: "DM Serif Text", serif;
    font-size: 16px;
    margin: 10px;
  }

  /* .content {
    display: flex;

    @media (min-width: 300px) and (max-width: 713px) {
      justify-content: center;
      flex-wrap: wrap;
    }
  } */

  .imageContainer {
    background-color: white;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    padding-bottom: 10px;
    img {
      max-width: 200px !important;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    .secondaryImages {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 10px;
      flex-direction: column;
      img {
        max-width: 100px !important;
      }
    }
  }
}
