#root {
  --primary-bg-color: #faedcd;
  --secondary-bg-color: #e9edc9;
  --accent-bg-color: #d4a373;

  --primary-text-color: #3d2f22;
  --accent-text-color: #fffdf1;

  img {
    max-width: 100%;
    height: auto;
  }
}
