#root {
  --primary-color: #fef8d2;
  --secondary-color: #fec14c;
  --accent-color: #fee356;

  --header: "BBH Sans Hegarty", sans-serif;
  --subheader: "DM Serif Text", serif;
  --body: "Source Sans 3", sans-serif;

  img {
    max-width: 100%;
    height: auto;
  }
}

body {
  background-color: #fef8d2;
}
